@font-face {
    font-family: BrandonText;
    font-stretch: normal;
    src: url(../webfonts/BrandonText/normal_normal_normal.woff2) format('woff2'), url(../webfonts/BrandonText/normal_normal_normal.woff) format('woff');
    font-weight: 400;
    font-display: swap
}

@font-face {
    font-family: BrandonText;
    src: url(../webfonts/BrandonTextWeb-Medium/font.woff2) format('woff2'), url(../webfonts/BrandonTextWeb-Medium/font.woff) format('woff');
    font-weight: 600;
    font-stretch: normal;
    font-display: swap
}

@font-face {
    font-family: BrandonText;
    src: url(../webfonts/BrandonText/normal_normal_bold.woff2) format('woff2'), url(../webfonts/BrandonText/normal_normal_bold.woff) format('woff');
    font-weight: 700;
    font-stretch: normal;
    font-display: swap
}

@font-face {
    font-family: BrandonText;
    src: url(../webfonts/BrandonTextWeb-Black/font.woff2) format('woff2'), url(../webfonts/BrandonTextWeb-Black/font.woff) format('woff');
    font-weight: 800;
    font-stretch: normal;
    font-display: swap
}